*{
	box-sizing: border-box;  
}

body{
	margin: 0px;
}

section {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header { /*controls text within the coloured strip*/
	background-color: #022140;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 25px;
	font-family: 'Abril Fatface', cursive;
}

nav{
	line-height: 30px;
	padding: 10px;
	min-width: 1000px;
	text-align: center;
}

a:link, a:visited { /*this blcok of code gives the nav bar padding about the lettering*/
    display: inline-block;
    width: 170px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: serif;
    font-size: 15px;
    border: 2px solid white;
}
a:hover, a:active {
    background-color: #494B68;
   }

#text {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    color: #AC3B61;
    font-family: sans-serif;
    font-size: 14px;
}

.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	height: auto;
}

div.gallery {
    padding: 20px;
    float: left; /*the direction the boxes goes*/
    width: 500px;
}